<% if @view_in_config && @erb_code %>
<%= render inline: ERB.new(@erb_code).result(binding) %>
<% else %>

<h1><%=t('Manufacturers')%></h1>
<div class="byop_pagination"><%= will_paginate models %></div>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th><%=t('Name')%></th>
    <th><%=t('Short Name')%></th>
    <th><%=t('Contact Info')%></th>
    <th><%=t('Phone')%></th> 
    <th><%=t('Cell Phone')%></th>     
    <th><%=t('Active')%></th>  
    <th><%=t('Address')%></th>
    <th><%=t('Quality System')%></th>
    <th><%=t('Last Updated By')%></th>
    <th></th>
 
  </tr>

<% models.each do |r| %>
  <tr>
  	
  	<td><%= link_to r.id.to_s, SUBURI + "/view_handler?index=1&url=#{manufacturer_path(r)}"  %></td> 
  	<td><%= r.name %></td>	
    <td><%= r.short_name %></td>   
    <td><%= r.contact_info %></td>
    <td><%= r.phone %></td>
    <td><%= r.cell %></td>
    <td><%= r.active %></td>
    <td><%= r.address %></td>
    <td><%= r.quality_system.name if r.quality_system_id.present? %></td> 
    <td><%= r.last_updated_by.name  %></td> 
    <td><%= link_to t('Edit'), SUBURI + "/view_handler?index=1&url=#{edit_manufacturer_path(r)}", :class => BUTTONS_CLS['action'] if has_action_right?('update', params[:controller], r) %></td>

  </tr>
<% end %>
   <table class="table table-striped">
	  <tr>
	    <th>
  		  <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
  		 &nbsp;&nbsp;&nbsp;&nbsp;
  		  <%= link_to t('New Manufacturer'), SUBURI + "/view_handler?index=1&url=#{new_manufacturer_path}", :class => BUTTONS_CLS['action'] if has_action_right?('create', params[:controller]) %>
        </th>
	  </tr>
	</table> 

<% end %>
